<nav class="navbar">
  <a routerLink="/" class="logo">
    <img src="/homelink-logo.png" alt="HomeLink Logo" class="logo-img">
  </a>

  <ul class="nav-links">
    @if (isLoggedIn && firstName) {
      <li>Welcome, {{ firstName }}!</li>
    }
    <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
    <li><a routerLink="/services" routerLinkActive="active">Browse Services</a></li>

    @if (isHomeowner) {
      <li><a routerLink="/homeowner/dashboard" routerLinkActive="active">Dashboard</a></li>
      <li><a routerLink="/payment/1" routerLinkActive="active">Payments</a></li>
    }
    @if (isProvider) {
      <li><a routerLink="/provider/dashboard" routerLinkActive="active">Dashboard</a></li>
    }
    @if (isAdmin) {
      <li><a routerLink="/admin/dashboard" routerLinkActive="active">Admin</a></li>
    }
    @if (!isLoggedIn) {
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
    }
    @if (isLoggedIn) {
      <li><a routerLink="/profile-edit" routerLinkActive="active">Edit Profile</a></li>
      <li><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
    }

    <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
  </ul>
</nav>
