/*

Footer component SCSS styles
@author: [Derek Olive]
Version: 1.0

*/

/* Footer container styles */
.footer {
  background-color: #111827;
  color: white;
  padding: 25px 0;
  text-align: center;
  margin-top: 0px;
}

/* Footer links styles */
.footer-links {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* Footer link styles */
.footer-links a {
  color: white;
  text-decoration: none;
}

/* Footer link hover effect */
.footer-links a:hover {
  text-decoration: underline;
}